.timer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elapsed-time{
    width: 60%;
    font-size: 40px;
}

.timer-buttons-start{
    width: 40%;
    border-radius: 10%;
}

.timer-buttons-stop {
    width: 40%;
    border-radius: 10%;
}