body {
margin: 0;
padding: 0;
font-family: 'Raleway-Bold';
}

.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 40vmin;
pointer-events: none;
}

.App-header {
background-color: lightgreen;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: rgb(112, 63, 63);
}

.box1{
float: left;
height: 100vh;
width: 65%;
margin: 0;
background-image: url("../images/bg_blur.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
}

.main-logo{
color: white;
font-family: 'Alba';
font-size: 60px;
}
    
.main-explanation{
color: white;
font-size: 28px;
position: relative;
}

.box2{
height: 100vh;
max-height: 100%;
max-width: 100%;
float: left; 
width: 35%;
background-color: rgba(241, 255, 227, 0.692);
}

.edge{
border: 1px solid black;
margin-top: 10%;
margin-bottom: 10%;
height: 80%;
width: 70%;
margin-right: auto;
margin-left:auto;
max-height: 100%;
}

.welcome{
border: 1px solid black;
text-align: left;
margin-bottom: 25%;
}

.idp{
border: 1px solid black;
text-align: left;
height: 15%;
margin-bottom: 15%;
}

.signin{
border: 1px solid black;
text-align: center;
margin-top: 20%;

}

.App-link {
color: #61dafb;
}

/*sign up modal*/

/*
basic structure
------------------
title(height:10%)
pic-id-pw(height:35%)
name-school(height:17.5%)
dept(height:17.5%)
signup button(height:20%)
------------------
structures of elements with input
parent
parent-text(height:50%)
parent-input(height:50%)
*/
.signup-modal {
max-width: 100%;
max-height: 100%;
overflow: auto;
}

/*title part*/
.title-box {
height: 10%;
font-size: 30px;
display: -webkit-flexbox;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;
}

/*picture, id, password part*/
.pic-id-pw {
height: 40%;
display: flex;
flex-direction: row;
justify-content: center;
}

.pic {
width: 36%;
padding-left: 8%;
}
.pic-select {
width: 100%;
height: 80%;
}
#file {
opacity: 0;
position: absolute;
}
img {
width: 90%;
height: 90%;
cursor: pointer;
}
.pic-instruction {
width: 100%;
height: 20%;
font-size: 14px;
line-height: 140%;
}

.id-pw {
width: 64%;
}
.id {
height: 50%;
}
.id-text {
height: 50%;
}
.id-input {
height: 50%;
}
.pw {
height: 50%;
}
.pw-text {
height: 50%;
}
.pw-input {
height: 50%;
}

/*name, school part*/
.name-school {
height: 17.5%;
display: flex;
flex-direction: row;
justify-content: center;
}
.name {
width: 50%;
}
.name-text {
height: 50%;
}
.name-input {
height: 50%;
}
.school {
width: 50%;
}
.school-text {
height: 50%;
}
.school-input {
height: 50%;
}

/*dept part*/
.dept {
height: 17.5%;

}
.dept-text {
height: 50%;
}
.dept-input {
height: 50%;
}

/*signup button part*/
.signup-button-container {
height: 15%;
align-items: center;
display: flex;
flex-direction: row;
justify-content: center;
}

@font-face {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
src: local('Raleway'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: bold;
src: local('Raleway-Bold'), local('Raleway Bold') url(../fonts/Raleway/Raleway-Black.ttf) format('truetype');
}

@font-face {
font-family: 'Alba';
src: local('Alba'), url(../fonts/alba/ALBA____.TTF) format('truetype');
}

@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}