#full{
    float: left;
    padding :0 ;
    margin:0;
    min-height: 100vh;
    min-width: 100%;
    text-align: center;

}

#logo{
    float: left;
    height: 100%;
    margin :0px;
    padding-top: 10px;
    padding-left: 15px;
    color: white;
    font-family: 'Alba';
    font-size: 40px;
    }

#headbar{
    float: left;
    height: 90px;
    width: 100%;
    background-color: #7eab54;
    max-height: 100%;
}


#img_cropper{
    float:right;
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(57, 58, 57);
}

#user_img{

    height: 60px;
    width: 60px;
}

#userid{
    float: right;
    padding: 10px;
}

#menu{
    height: 100%;
    width: height;
    float:right;
}

#menu-img{
    margin-top: 5px;
    height: 60px;
    width:60px;
}


#clicktext1{
    padding: 0px;
    margin-top:20%;
    margin-bottom: 0px;
}
#clicktext2{
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#makeclass{
    height: 100%-90px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
#plus{
    margin-top: 40px;
    height: 100px;
    width: 100px;
}