.App {
    text-align: center;
}

.App-header {
background-color: lightgreen;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: rgb(112, 63, 63);
}

#fullbox{
    width: 100%;
}

#infobox{
    float: left;
    height: 100%;
    width: 50%;
}


#seatbox{
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.edge{
border: 1px solid black;
margin-top: 10%;
margin-bottom: 10%;
height: 80%;
width: 70%;
margin-right: auto;
margin-left:auto;
max-height: 100%;
}

.welcome{
border: 1px solid black;
text-align: left;
margin-bottom: 25%;
}

.idp{
border: 1px solid black;
text-align: left;
height: 15%;
margin-bottom: 15%;
}

.signin{
border: 1px solid black;
text-align: center;
margin-top: 20%;
}

:root{
    --seat-size:10;
}

.wrapper{
    display: grid;
    grid-template-columns: 15px repeat(var(--seat-size), 1fr);
    grid-template-rows: 40px 25px repeat(var(--seat-size),1fr);
}

.screen{
    border: 1px solid brown;
    margin: 1px;
    text-align: center;
    grid-row: 1;
    grid-column-start: 1; 
    grid-column-end: -1; 
    font-size: 24px;
}

.none-seat{
    margin: 1px;
    text-align: center;
}

.number-seat{
    margin: 1px;
    text-align: center;
    font-size: 2px;
}

.alphabet-seat{
    margin: 1px;
    text-align: center;
    margin-top: 4px;
    font-size: 2px;
}

.seat{
    border: 1px solid black;
    margin: 1px;
}
