#step2_container{
    text-align: center;
    font-size: 16px;
    margin-top:2vh
}

#instuction_csv{
    margin-top:50vh;
}
#instruction_img{
    margin-top:2vh;
}
#wrap_table{
    margin-top:2vh;
    border:1px solid #bcbcbc;
    width:600px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(243, 243, 243, 0.87);
}
#row_student{
    width: 600px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0px;
    color: black;
    background-color:rgba(243, 243, 243, 0.87);
}
#csv_table{
    overflow: auto;
    height: 133px;
    display: block;
    flex:1; 
}
#newprocess{
    margin-top:10px;
    color : gray;
}
#about_csv{
    width:600px;
    height: auto;
    margin-top:2vh;
    margin-left:auto;
    margin-right:auto;
}
#down_ex{
    width:200px;
    display: inline-block;
}
#up_csv{
    width:200px;
    text-align: center;
    display: inline-block;
}
#csv_name{
    width:200px;
    display: inline-block;
}
#about_img{
    margin-top:2vh;
    width:600px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}
#mt_img{
    width:200px;
    display: inline-block;
}
#up_img{
    width:200px;
    display: inline-block;
}
#status_img{
    width:200px;
    display: inline-block;
    color: #5e5e5e;
    font-size: 17px
}
#final_button{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom:0;
}

.wrap{
    width:600px;
}
.block{
    width:100px;
    display: inline-block;
}
.cell_sid{
    display: inline-block;
    width: 90px;
    font-size: 15px;
}
.cell_name{
    display: inline-block;
    text-align: left;
    width: 120px;
    font-size: 15px;
}
.cell_dept{
    display: inline-block;
    text-align: left;
    width: 190px;
    font-size: 15px;
}
.cell_email{
    display: inline-block;
    text-align: left;
    width: 200px;
    font-size: 15px;
}